.settingsItems{
    padding: 15px;
    &__list{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__listTitle{
        font-size: 14px;
        text-transform: capitalize;
        font-weight: 600;
    }

    &__listItem{
        margin-left: 5px;
        font-size: 14px;
        text-transform: capitalize;
        cursor: pointer;
        user-select: none;
    }
    
    &__subChildList{
        margin-top: 1.5em;
        margin-left: 2.3em;
    }

    &__subChildItem{
        color: #6d6d6d;

        &:hover{
            color: #9b9b9b
        }

        &:active{
            color: #353535;
        }
    }
    
    &__listItemChild{
        font-weight: bold;
        color: #353535;
        margin-left: 5px;
        font-size: 14px;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        &:hover{
            color: #707070
        }

        &:active{
            color: #353535;
        }
    }
}

.preview-brand{
    width: 35px;
    height: 35px;

    img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}

.sp-label, .sp-brand-uploader-label, .sa-label{
    display: block;
    color: #424242;
}

.sa-sub-label{
    color: #757575;
}

.settings-content-wrapper{
    .scw-title{
        color: #363885
    }
}

.hero-slide-item{
    &:hover{
        background-color: #f1f1f1;
        border-radius: 1rem;
    }
}

.hero-slides{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}