$primaryColor: #4318FF;
$secondaryColor: #A3AED0;
$lightSecondaryColor: #f2f2f2;
$darkPrimary: #2B3674;
$graySecondary: #F4F7FE;
$normalGray:#707EAE;
$text: rgb(18, 18, 18);


// borders
$inputBorder: 1px solid #E0E5F2;