.productPictures {
    &__dropZone {
        border-style: dashed;
        border-width: 2px;
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $medium;
        color: $normalGray;
        cursor: pointer;
        transition: $default-transition;

        &:hover {
            opacity: 0.8;
        }
    }
}

.previewPictures {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8em;
    
    &__item {
        width: 135px;
        height: 120px;
        position: relative;
        border-radius: $border-radius;
        overflow: hidden;
        
        &:hover{
            .previewPictures__overlay{
                visibility: visible;
            }
        }

        .p-image-preview-container {

            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }

        }
        
        .p-image-preview-indicator{
            height: 50%;
        }
    }

    &__overlay{
        position: absolute;
        width: 100%;
        height: 50%;
        top: 50%;
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        visibility: hidden;
        cursor: pointer;
    }
}

.np-card{
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}

.np-card-title {
    color: $dash_title;
}

.np-card-label {
    color: $text;
}

.product-color-picker{
    input {
        width: 100%;
        height: 100%;
    }
}