.datatable-product-image {
margin-bottom: 0.5em;
  img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    border-radius: 50%;
    object-fit: cover;
  }

  &:hover{
    .p-image-preview-indicator{
            opacity: 0;
      }
  }
}

.product-name{
  width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.variant-color{
  .vc-remove-btn {
    visibility: hidden;
  }
  &:hover {
    .vc-remove-btn {
      visibility: visible;
    }
  }

}